.product-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    z-index: -1;
    overflow-y: auto;
}

.product { 
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    position: relative;
}

.product-name { 
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    background: rgb(226, 226, 226);
    opacity: 0.7;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product-title {
    color: black;
    padding: 0 0 0 10px;
    font-weight: bold;
    font-size: 0.8rem;
}

.product-price {
    position: absolute;
    bottom: 50px;
    left: 25px;
    background: rgb(43, 43, 43);
    opacity: 0.9;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product-price-regular {
    color: rgb(255, 255, 255);
    padding: 0 0 0 10px;
    font-weight: bold;
    font-size: 1rem;
    padding-right: 10px;
}